<section class="p-6 max-w-6xl mx-auto h-[calc(100vh-4rem)]">
  <div class="flex flex-wrap gap-2 mb-4">
    <button
      type="button"
      class="btn btn-sm py-2 px-4 border border-primary"
      [class.btn-primary]="channelFilter() === ''"
      (click)="setChannelFilter('')"
    >
      Tous
    </button>
    <button
      type="button"
      class="btn btn-sm py-2 px-4 border border-primary"
      [class.btn-primary]="channelFilter() === 'email'"
      (click)="setChannelFilter('email')"
    >
      E-mail
    </button>
    <button
      type="button"
      class="btn btn-sm py-2 px-4 border border-primary"
      [class.btn-primary]="channelFilter() === 'sms'"
      (click)="setChannelFilter('sms')"
    >
      SMS
    </button>
    <button
      type="button"
      class="btn btn-sm py-2 px-4 border border-primary"
      [class.btn-primary]="channelFilter() === 'whatsapp'"
      (click)="setChannelFilter('whatsapp')"
    >
      WhatsApp
    </button>
  </div>

  <app-list
    listTitle="Modèles"
    [url]="listUrl()"
    [headers]="headers"
    [action]="actions"
    [showAddButton]="true"
    [addButtonLink]="{ url: '/templates/new' }"
    [detailLink]="{ link: '/templates/', field: 'id' }"
    [showFilters]="false"
    [showOverview]="false"
    [showPageSizeSelector]="true"
  />
</section>
