.lookup-search-btn {
  position: absolute;
  right: 0.35rem;
  top: 50%;
  transform: translateY(-50%);
}

.lookup-avatar {
  width: 2.75rem;
  height: 2.75rem;
}

.lookup-dropdown {
  max-height: 15.625rem;
}
