<section class="p-6 max-w-6xl mx-auto h-[calc(100vh-4rem)] flex flex-col gap-4">
  <div role="tablist" class="tabs tabs-boxed w-fit">
    <button
      type="button"
      role="tab"
      class="tab"
      [class.tab-active]="activeTab() === 'upcoming'"
      [attr.aria-selected]="activeTab() === 'upcoming'"
      (click)="setTab('upcoming')"
    >
      À venir
    </button>
    <button
      type="button"
      role="tab"
      class="tab"
      [class.tab-active]="activeTab() === 'past'"
      [attr.aria-selected]="activeTab() === 'past'"
      (click)="setTab('past')"
    >
      Passés
    </button>
  </div>

  <div class="flex-1 min-h-0">
    <app-list
      listTitle="Envois programmés"
      [url]="listUrl()"
      [headers]="headers"
      [action]="actions"
      [showAddButton]="true"
      [addButtonLink]="{ url: '/scheduled/new' }"
      [detailLink]="{ link: '/scheduled/', field: 'id' }"
      [showFilters]="false"
      [showOverview]="false"
      [showPageSizeSelector]="true"
    />
  </div>
</section>
